<div class="profile-bg">
  <app-navbar></app-navbar>
  <div class="profile-card">
    <div class="profile-content">
      <h2>Perfil</h2>

      <div class="profile-info" *ngIf="usuario">
        <label for="matricula">Matrícula: <span>{{ usuario.matricula }}</span> </label>
        
        <label for="email">Email:  <span>{{ usuario.email }}</span> </label>
        <label for="Nome">Nome:  <span>{{ usuario.nome }}</span> </label>
       <label for="password">Senha:  <span>{{ usuario.senha}}</span>  </label>
      </div>

      <div class="profile-buttons">
        <button class="editar" (click)="navigateToEditProfile()">Editar perfil</button>
       
        <button id="sair" (click)="limparLocalStorage()">Sair</button>
      </div>
    </div>
  </div>
</div>
