@font-face {
  font-family:  'Poppins';
  src: url('src/app/fontes/Poppins-Regular.woff2') format('woff2'),
    url('src/app/fontes/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-family: 'Gotham';
  src: url('src/app/fontes/Gotham-black-webfont.woff2') format('woff2'),
    url('src/app/fontes/Gotham-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family:'Gotham';
}

.profile-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('src\assets\img\Pessoas.png');
  background-size: cover;
  background-position: center;
  background-color: #fdf9f600;
  background-size: contain; 
  background-position: 5%;
  background-repeat: no-repeat;
  position: fixed;
  background-color:#FDF9F6;
}

.profile-card {
  width: 50%; 
      max-width: 525px; 
      padding: 20px; 
      border: 1px solid #54545438;
      border-radius: 20px;
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 15px;
      line-height: 30px;
      z-index: 1;
      margin-left: 700px;
      color: #545454;
      background-color:#f5f5f5f1;
      margin-top: 60px;
      
}

.profile-content h2 {
  font-family: 'Gotham';
  font-size: 24px;
  font-weight: bold;
  color: #151378;
  margin-bottom: 20px;
  text-align: center;
  
}

.profile-info {
  font-size: 16px;
  text-align: left;
}

.profile-info label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family:'Gotham';
  margin: 20px;
}

.profile-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  max-width: 450px;
  width: 488px;
  justify-content: center;
  text-align: center;
}

.profile-buttons button {
  background-color: #151378;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-family:'Gotham';
  text-align: center;
  width: 250px;
  margin-left: 55px;
}

.profile-buttons button a {
  color: white;
  text-decoration: none;
  font-family:'Gotham';
}

.profile-buttons button:hover {
  background-color: #0f1165;
}

#sair{
  background-color: rgb(210, 43, 43);
}