/* Centraliza o conteúdo da página */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.profile-card {
  background-color: #ebe6e6;
  padding: 40px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 400px;
  margin-left: 39%;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#151378;
}

.profile-info {
  margin: 20px 0;
}

.profile-info label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  color:#151378;
}

.profile-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.profile-buttons .editar {
  background-color: #7C7BAD;
  color: white;
}

.profile-buttons .excluir {
  background-color: #DA3030;
  color: white;
}

.profile-buttons .sair {
  background-color: #DA3030;
  color: white;
}

.profile-buttons button a {
  text-decoration: none;
  color: inherit; /* Mantém a cor do texto do botão */
}

.profile-buttons button:hover {
  opacity: 0.8; /* Efeito de hover */
}
