<div class="cadastro-evento-bg">
  <app-navbar></app-navbar>
    <div class="cadastro-evento-container">
      <h2>Meus eventos</h2>
      <label for="nome">Nome</label>
      <input [(ngModel)]="nome" type="text" id="nome" name="nome" required />
    
      <label for="sala">Sala</label>
      <input [(ngModel)]="sala" type="text" id="sala" name="sala" required />

      <label for="horario">Horário</label>
      <input [(ngModel)]="horario" type="time" id="horario" name="horario" required />

      <label for="horario">Dia</label>
      <input [(ngModel)]="dia" type="date" id="dia" name="dia" required />

      <label for="descricao">Descrição</label>
      <input [(ngModel)]="descricao" type="text" id="descricao" name="descricao" required />
  
      <div class="button-container">
        <button (click)="cadastrarevento()">Cadastrar</button>
        <button (click)="cancelar()" class="warning">Cancelar</button>
      </div>
    
    </div>

</div>

  