
@font-face {
  font-family: 'Barlow';
  src: url('src/app/fontes/Barlow-ExtraBold.ttf') format('woff2'), 
       url('src/app/fontes/Barlow-ExtraBold.ttf') format('woff'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('src/app/fontes/Montserrat-Black.ttf') format('woff2'), 
       url('src/app/fontes/Montserrat-Black.ttf') format('woff'); 
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: 'Barlow';
}

.login-container {
  position: relative;
  width: 525px;
  padding: 88px;
  border: none;
  border-radius: 8px;
  font-family: 'Barlow';
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  z-index: 1;
  padding-top: 40px;
}

.login-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('src\assets\img\login.png');
  background-size: cover;
  background-position: center;
  background-color: #FDF9F6;
  background-size: contain; /* Ajustar a imagem para caber na área, mantendo a proporção */
  background-position: 80%;
  background-repeat: no-repeat;
  ;
}

button {
  background-color:  #151378;
  color: #D9D9D9;
  padding: 5px 25px;
  border: 1px solid #3f3f3fde;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Barlow';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 150px;
  font-family: 'Barlow';
  letter-spacing: 0em;
  text-align: left;

}

.input-wrapper {
  margin-bottom: 20px;
}

.input-wrapper label {
  display: block;
  margin-bottom: 5px;
}

.input-wrapper input {
  width: calc(80% - 10px);
  padding: 5px;
  font-family: 'Barlow';
  font-weight: 500;
  font-size: 16px;
  border: 1px solid #ccccccd0;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #b9afaf1e;

}

label[for="username"],
label[for="password"] {
  position: static;
  top: 0;
  left: 0;
  pointer-events: none;
  font-family: 'Barlow';
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 2px 5px 10px;  
  color: rgb(11, 6, 40);
}


h2 {
  font-family: 'Barlow';
  font-size: 30px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

h3 {
  font-family: 'Barlow';
  font-size: 16px;
  padding-left: 35px;
  letter-spacing: 0.1em;
  text-align: left;
  color: white;
}

.logo img {
  display: inline-block;
  vertical-align: middle; 
  margin-left: 100px;
  margin-top: 60px;
}

label{
  font-family: 'Barlow';
}

h4{
 font-family: 'Montserrat';
 font-weight: 200;
}

.cadastro
{
  margin-left: 60%;
  margin-top: -472px;
}

.modal {
  color: #ff4d4d;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.modal {
  display:top ;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}