<div class="login-bg">
  <div class="header-wrapper">
    <h2>LabSpace</h2>
    <h4>CONTROLE DE LABORATÓRIO</h4>
  </div>
  <div class="login-container">
   

    <div class="input-wrapper">
      <div class="text-wrapper">
        <label for="email">Email</label>
        <input [(ngModel)]="email" type="text" id="email" placeholder="Digite seu email" />
        
        <label for="password">Senha</label>
        <input [(ngModel)]="password" type="password" id="password" placeholder="Digite sua senha" />
      </div>

      
      <button (click)="login()">Entrar</button>

      <div class="modal" *ngIf="showModal">
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <p>{{ loginFailMessage }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cadastro">
    <button class="cadastro" (click)="Cadastro()">Cadastro</button>

  </div>
</div>
